* {
  margin: 0;
  padding: 0;
  font-family: 'Merienda', cursive;
  color: white;
}
body {
  background-image: url("../img/bg3.png");
}
h1, h2, h3 {
  color: #fcf0d9;
}

.header div {
  display: inline-block;
}
.title {
  width: 70%;
  text-align: center;
  padding: 10px 0;
}
.navigation {
  width: 29%;
}
.header ul {
  text-align: center;
}
.header ul li {
  display: inline-block;
}
.header ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #c67d00;
  font-size: 20px;
  transition: transform .2s ease-in-out;
}
.header ul li a:hover {
  color: blue;
  transform: rotate(10deg);
}
.name {
  width: 30%;
  margin: 20px auto;
  text-align: center;
}
.detail {
  width: 70%;
  margin: 0 auto;
}
.container {
  position: relative;
  width: 49%;
  float: left;
}
.container img {
  opacity: 1;
  display: block;
  height: auto;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.container:hover img {
  opacity: 0.3;
}

.container:hover .text {
  opacity: 1;
}
.text h3 {
  text-align: center;
  padding: 10px;
}
